*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    background-color:black;
}
.content h1{
    
    font-size: 10em;
    position: absolute;
}
.content h1:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 3px rgb(83, 83, 167);

}
.content h1:nth-child(2){
    color: blue;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%,100%{
        clip-path: polygon(1% 38%, 19% 36%, 37% 43%, 56% 54%, 76% 60%, 100% 57%, 99% 99%, 1% 100%);
    }
    50%{
        clip-path: polygon(0 62%, 21% 67%, 39% 65%, 59% 54%, 78% 45%, 100% 52%, 99% 99%, 1% 100%);
    }
}